@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #d8d8d8;
    --foreground: #000000;
    --accent: #124385;
  }
  .dark {
    /* --primary: #283149;
    --foreground: #dbedf3;
    --accent: #00818a; */
    /* --primary: #070f2b;
    --foreground: #eeeeee;
    --accent: #535c91; */
    --primary: #222831;
    --foreground: #eeeeee;
    --accent: #76abae;
  }
}

@layer base {
  body {
    @apply font-primary bg-primary text-foreground leading-loose;
  }
  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: var(--primary);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--accent);
    -webkit-border-radius: 1ex;
  }

  ::-webkit-scrollbar-corner {
    background: var(--primary);
  }
}
